#pandas
#retry
#setuptools
#setupextras
#config2
openpyxl
numpy
jupyterlab
matplotlib
selenium
pandas
statsmodels
scikit-learn
tqdm
ipywidgets
pytest
click
keras
#tensorflow==2.17.0
feedparser
svgwrite
sqlmodel
msal
python-dotenv
opentelemetry-api
#opentelemetry-exporter-console #this pacakge does not exist in pypi.org
opentelemetry-sdk
# langchain course
langchain
langchain-openai
langchain-anthropic
pydantic
pydantic-settings
